
body{
  font-family: sans-serif;
}
/* h1 tag */
h1{
  color: rgb(240, 21, 21);
  position: sticky;
  top:0px;
  background-color: black;
  padding: 25px;
}

/* filter-section */
.filter-section{
  position: sticky;
  top:80px;
  background-color: black;
  padding: 20px;
}
.filter-section input{
  background-color: rgba(73, 72, 72, 0);
  color: white;
  padding: 5px;
  width: 40%;
  border-radius:30px ;
  margin-left: 400px;
  border: none;
  outline: none;
  background: 0 4px 15px rgba(0, 0 , 0 , 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#filterGenre{
  background-color: greenyellow;
  color: black;
  border-radius: 20px;
  padding: 10px;
  border: none;
  outline: none;
  margin-left: 10px;
}
/* movieContainer */
#movieContainer{
  padding: 20px;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 30px;
  text-align: center;
}

/* Media */
@media (max-width: 900px) {
  .filter-section { 
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px; 
  }
}

  
@media (max-width: 900px) {
  #searchInput { 
    display: none !important;
  }
}
